name: Daily Update Nodes

on:
  schedule:
    # 每天北京时间早上 6 点运行 (UTC时间 22:00)
    - cron: '0 22 * * *'
  workflow_dispatch: # 允许手动点击按钮运行

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write  # 这一点非常重要，允许写入文件

    steps:
    - name: Check out code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install requests pyaes

    - name: Run script
      run: python main.py

    - name: Commit and Push changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git add nodes.txt
        # 只有当 nodes.txt 发生变化时才提交
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update nodes" && git push)
